<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Ruby Learning blog App</h1>
<p>This is the about page about this project</p>

</body>
<%= link_to 'Home', root_path %>
</html>